.building-details-presentation{
  padding: 30px 0 0 150px;
}

.building-details-presentation h2{
  font-size: 30px;
}

.building-details-presentation h3{
  font-size: 20px;
  margin-bottom: 0;
}

.building-details-presentation p{
  font-size: 17px;
  margin: 0;
}

.building-details-button{
  margin-top: 20px;
  border-style: none;
  font-size: 20px;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .building-details-presentation {
    padding: 10px;
  }
}
