.Dropdown-vue-sort-by{
  background-color: #f6f6f6;
  width: 20%;
  padding: 10px;   
  display: inline-block;
}

.Dropdown-vue-label{
  display: inline-block;
  margin-right: 20px;
}

.Dropdown-vue-select{
  border: 0;
  width: 200px;
  padding: 5px;
}

.Dropdown-vue-select:focus{
 border: 0;
 outline: none;
}


